.option {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

#browser-incompatible {
  background-color: #fcc;
  border: 1px solid #f00;
  color: #200;
  text-align: center;
  border-radius: 4px;
  padding: 1em;
}
