body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  border: 20px solid #f00;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: sans-serif;
}

table {
  margin: 0 auto;
}

td:first-of-type {
  text-align: right;
  font-weight: bold;
}

td:last-of-type {
  text-align: left;
  font-family: monospace;
}

.explain-me {
  border-bottom: 1px dotted black;
}
